[defaults]
host_key_checking=False
inventory=inventory_aws_ec2.yaml
deprecation_warnings=False

enable_plugins=aws_ec2


# global default user and ssh key path
remote_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa
ansible_python_interpreter=/usr/bin/python3.12